<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <!-- Link to particles.js script -->
  
  <script src="/js/particles.js"></script>
  <!-- Link to your custom particles animation script -->
  <script src="/js/particles-custom.js"></script>
  <link rel="stylesheet" href="/css/custom-styles.css">
  <canvas class="background"></canvas>
</head>
<body>
  <!-- Your particles animation container -->
  

  <a href="https://writeups.cybersecaware.ie/posts/">This page is a work in progress! Goto Posts.</a>  👈🏻
  
</body>
</html>
